{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
    
    
                <h3 style="color: deeppink">Delete Data Produk</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>Apakah anda yakin ingin menghapus data produk {{ produk.nama_produk }} ?</p>
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
    

{% endblock %}